/.ipynb_checkpoints
/__pycache__
/models/__pycache__
/.vscode
/logging
/logging1
/docker/data
./data
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/processed/test.pt
data/MNIST/processed/training.pt
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
